@media screen and (max-width:768px) {
    main {
        width: 100vw;
        /* 这里设置为min-height可以防止滚动后面的背景变成白色 */
        min-height: 100vh;
        padding: 8vh 0;
        display: grid;
        align-items: start;
        justify-items: center;
        background: rgb(203, 210, 240);
    }
    .container {
        width: 90vw;
        height: 90vh;
        /* min-height: 540px; */
        position: relative;
        padding: 10px 20px;
        border-radius: 24px;
        background: rgb(245, 246, 252);
        box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.15);
        padding-bottom: 20px;
    }
}